@model HomeModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <h2>Marta Neris</h2>
    <span> Sou do Sexo @Model.Sexo</span>
     <span> Minha idade  @Model.Idade</span>
    <p>Este é meu  primeiro site em MVC</p>
    <span>Meu Email  @Model.Email</span>
    <div class= "text-center">
        
        <span>
                <img src="~/Images/circulo.JPG"/>
            </span>

            <div class="text-center">
            <span>
                @Model.Telefone
            </span>
   </div>
           
            
   <p>Todos os dias um pequeno avanço nessa longa Jornada!!</p>
   <div class="text-center">
       <h4>Deus é fiel....</h4>
   </div>

    </div>
    
</div>
