@model HomeModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <h2>Marta Neris</h2>
    <p>Meu primeiro site em MVC</p>
    <span>Seu Email é: @Model.Email</span>
    <div class= "text-center">
        <h4>Deus é fiel....</h4>

        <span>
                <img src="~/Images/circulo.JPG"/>
            </span>

   

    </div>
    
</div>
